.p-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -2500px;
  left: 0;
  background: $menu_color;
  z-index: 2;
  transition: 0.4s;
  &--active {
    top: 0;
  }
  &__account-item-inner {
    padding: $space_m;
    box-sizing: border-box;
  }
  &__icon-container {
    margin: 0 auto;
    width: $big_icon_size;
    height: $big_icon_size;
  }
  &__icon {
    width: $big_icon_size;
    border-radius: 50%;
  }
  &__name-container {
    margin: $space_s auto 0;
    text-align: center;
  }
  &__display-name {
    display: block;
    overflow: hidden;
    white-space:  nowrap;
    text-overflow: ellipsis;
    margin-bottom: $space_xxs;
  }
  &__account-name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: $font-size_xxs;
  }
  &__item {
    border-top: 1px solid #dfdfdf;
    margin: 0 $space_m;
    text-align: center;
    &:last-child {
      border-bottom: 1px solid #dfdfdf;
    }
  }
  &__link {
    display: block;
    line-height: 10vh;
    letter-spacing: 0.3em;
  }
}
